// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option, .advanced-search {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .bg-secondary {
    background-color: var(--bs-primary);
  }

  h4, .h4 {
    font-size: 1.1rem
  }
}


// ============================================
// PERSONALIZAÇÃO DO CAMPO DE BUSCA
// ============================================

.form-control {
   border: 2px solid #8b8787 !important;   /* Borda verde */
  //border-width: 30px !important;          /* Borda arredondada */
   background-color: #b8b5b5 !important;    /* Fundo branco */
}

// Se o campo de busca usar outra classe, você pode adicionar:
.search-input {
    border: 2px solid #00884d !important;
    border-radius: 30px !important;
}
