// TODO CONTEUDÚDO NEWS FOI EDITADO PARA REMOVER O FUNDO 
// ESCURO, POIS O FUNDO ESCURO ESTAVA SOBREPONDO A 
// IMAGEM DE FUNDO, E A IMAGEM DE FUNDO NÃO ESTAVA VISÍVEL.
// FOI INCLUIDO NA NEWS O CAMPO DE PESQUISA.

:host {
  display: block;

  div.background-image-container {
    color: white;
    position: relative;
    font-weight: 600;

    //.background-image > img {
    //  background-color: var(--bs-info);
    //  position: absolute;
    //  z-index: -1;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  object-fit: cover;
    //  object-position: top;
    //}

    .container {
      position: relative;
      text-shadow: #f8f9fa;

      &:before, &:after {
        content: '';
        display: block;
        width: var();
        height: 100%;
        top: 0;
        position: absolute;
      }

      // *MODELO ANTES DA EDIÇÃO 
      //&:before {
      //  background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
      //  left: calc(-1 * var(--ds-banner-background-gradient-width));

      //}


      // *MODELO EDITADO
      &:before {
        background: linear-gradient(to left, transparent);

      }

      &:after {
        background: linear-gradient(to right, transparent);
        right: calc(-1 * var());
      }

      //background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .home-news-content {
    background-color: transparent;
  }

  a {
    color: var(--ds-home-news-link-color);

    &:hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 400;
  }
}


